body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #0f3c4d;
    padding: 20px;
    color: white;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 40px;
}

input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background-color: #00334e;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #005c7a;
}
